body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

h1 {
  width: 36rem;
  margin: 0 auto;
  word-break: break-all;
  font-weight: 700;
}

h5 {
  font-weight: 700;
}

a:hover {
  text-decoration: none;
}

.nav-right-item {
  margin: auto;
}
.navvar-container {
  height: 3rem;
}

.card-item {
  width: 36rem;
  margin: 1rem auto;
  min-height: 25rem;
  max-height: 40rem;
}

.card-title {
  margin: 1.5rem 0;
}

.card-title-link {
  color: #343a40;
}
.card-title-link:hover {
  color: #343a40;
}

.card-text {
  height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10rem;
}

.card-image {
  width: 574px;
  margin-left: -1.25rem;
  height: 250px;
  margin-top: 0.5rem;
}

.form-group {
  width: 36rem;
  margin: 1rem auto;
}

.btn-extend {
  cursor: pointer;
  /* background-color: #fff;
  color: #6c757d;
  border-color: #6c757d; */
  width: 5rem;
  height: 1.9rem;
}

.article-container {
  width: 36rem;
  margin: 0 auto;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
}

.article-image {
  width: 576px;
  height: 300px;
  margin-top: 1rem;
}

.article-author {
  float: left;
}

.article-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.02rem;
  font-size: 2.25rem;
}

.article-content {
  margin-top: 2rem;
  font-size: 1.2rem;
  /* min-height: 25rem; */
  float: left;
}

.paginate-extend {
  width: 36rem;
  margin: 2rem auto;
}

.container-button {
  text-align: right;
  /* margin-top: 6rem; */
}

.button-edit {
  margin-right: 1.1rem;
}

.article-edit-image {
  width: 576px;
  height: 300px;
  margin: auto;
  display: block;
}

.form-content-label {
  float: left;
}

.form-count-container {
  text-align: right;
}
