body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

h1 {
  width: 36rem;
  margin: 0 auto;
}

.nav-right-item {
  margin: auto;
}
.navvar-container {
  height: 3rem;
}

.card-item {
  width: 36rem;
  margin: 1rem auto;
  height: 25rem;
}

.form-group {
  width: 36rem;
  margin: 1rem auto;
}

.btn-extend {
  cursor: pointer;
}

.article-container {
  width: 36rem;
  margin: 0 auto;
}

.article-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.02rem;
  font-size: 2.25rem;
}

.article-content {
  margin-top: 2rem;
  font-size: 1.2rem;
}
